<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0oVPHJKw1DWtQb2Zfq4g-vuM7niVV45Q</string>
	<key>GCM_SENDER_ID</key>
	<string>878764507418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testproject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testproject-fb549</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-fb549.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878764507418:ios:931eb05e7cbcffed802ca3</string>
</dict>
</plist>